<nav aria-label="Пагінація сторінок" class="mt-4 mb-4">
    <ul class="pagination justify-content-center shadow-sm">

        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link text-primary" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo; Назад</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link text-muted" aria-disabled="true">&laquo; Назад</span>
        </li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="page-item active" aria-current="page">
            <span class="page-link">{{ i }}</span>
        </li>
        {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %} <li class="page-item">
            <a class="page-link text-primary" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link text-primary" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">Далі &raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link text-muted" aria-disabled="true">Далі &raquo;</span>
            </li>
            {% endif %}

    </ul>
</nav>