{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="my-4">Інформація про користувача</h1>
    <ul class="list-group">

        <li class="list-group-item">
            <img src="{{ user_info.profile.avatar.url }}" alt="Аватар користувача"
                 class="img-fluid rounded-circle" width="200">
            <h2>{{ user_info.username }}</h2>
            <p>Імя: {{ user_info.first_name }}</p>
            <p>Прізвище: {{ user_info.last_name }}</p>
            <p>Дата народження: {{ user_info.birthday }}</p>
            <p>Вік: {{ user_info.age }}</p>
            <p>Email: {{ user_info.email }}</p>
            <p>Phone_number: {{ user_info.phone_number }}</p>
            <p>Date joined: {{ user_info.date_joined }}</p>
            <p>Bio: {{ user_info.profile.bio }}</p>
            <p>followers: {{ user_info.followers_count }}</p>
            {% for follower in followers %}
            <h2><img src="{{ follower.profile.avatar.url }}" class="img-fluid rounded-circle" width="28"/>
                <a href="{% url 'user_detail' follower.pk %}">{{ follower }}</a></h2>
            {% endfor%}
            <p>following: {{ user_info.following_count }}</p>
            {% for follow in following %}
            <h2><img src="{{ follow.profile.avatar.url }}" class="img-fluid rounded-circle" width="28"/>
                <a href="{% url 'user_detail' follow.pk %}">{{ follow }}</a></h2>
            {% endfor%}
            <!-- Додайте інші поля користувача, які вам потрібні -->
        </li>
    </ul>
    {% if user.is_authenticated %}
        {% if user != user_info %}
            {% if user_info in user.following.all %}
                <a href="{% url 'unsubscribe' user_info.pk %}" class="btn btn-secondary mt-3">unsubscribe</a>
            {% else %}
                <a href="{% url 'subscribe' user_info.pk %}" class="btn btn-secondary mt-3">subscribe</a>
            {% endif %}
        {% endif %}
        <a href="{% url 'message_create' user_info.pk %}" class="btn btn-secondary mt-3">Create Message</a>
    {% endif %}
    <a href="{% url 'posts_list_user' user_info.pk %}" class="btn btn-secondary mt-3">User posts</a>

</div>
{% endblock %}