{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="my-4">Список постів</h1>
    <div class="btn-group" role="group" aria-label="Перегляд постів">
        <a href="{% url 'posts_list'%}" class="btn btn-primary {% if folder == 'all' %}active{% endif %}">Усі пости</a>
        {% if user.is_authenticated %}
        <a href="{% url 'posts_list' 'follow' %}" class="btn btn-primary {% if folder == 'follow' %}active{% endif %}">Пости підписників</a>
        <a href="{% url 'posts_list' 'my' %}" class="btn btn-primary {% if folder == 'my' %}active{% endif %}">Мої пости</a>
        {% endif %}
    </div>
    <ul class="list-group">
        {% for post in posts %}
        <li class="list-group-item">
            <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
            {% if post.image %}
            <img src="{{ post.image.url }}" height="400">
            {% endif %}
            <p>{{ post.content|truncatechars:100 }}</p>
            <p>Автор: <a href="{% url 'user_detail' post.user.pk %}">{{ post.user.username }}</a></p>
            <p>Дата створення: {{ post.created_at }}</p>
            {% if user.is_authenticated %}
            <p class="card-text"><a href="{% url 'like' post.pk %}"><img
                    src="{% static 'img/like.png' %}"
                    width="20"> </a>
                <a href="{% url 'liked_post_user' post.pk %}">{{ post.like_count }}</a>
            </p>
            {% endif %}
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                    <a href="{% url 'post_detail' post.pk %}">View</a>
                </button>
                {% if user == post.user %}
                <button type="button" class="btn btn-sm btn-outline-secondary">
                    <a href="{% url 'post_update' post.pk %}">Edit</a>
                </button>
                {% endif %}
                <button type="button" class="btn btn-sm btn-outline-secondary">
                    <a href="{% url 'comments_list' post.pk %}">Comments ({{ post.comment_count }})</a>
                </button>
            </div>

        </li>
        {% empty %}
        <p class="alert alert-info">На жаль, поки що немає жодних постів.</p>
        {% endfor %}
    </ul>
    {% include 'pagination.html' %}
</div>
{% endblock %}