{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="my-4">Список Коментарів до поста <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h1>
    <ul class="list-group">
        {% for comment in comments %}
        <li class="list-group-item">
            <p>{{ comment.content }}</p>
            <p>Автор: <a href="{% url 'user_detail' comment.user.pk %}">{{ comment.user.username }}</a></p>
            <p>Дата створення: {{ comment.created_at }}</p>
            <button type="button" class="btn btn-sm btn-outline-secondary">
                <a href="{% url 'comment_detail' comment.pk %}">View</a>
            </button>
            {% if user == comment.user %}
            <button type="button" class="btn btn-sm btn-outline-secondary">
                <a href="{% url 'comment_update' comment.pk %}">Edit</a>
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
                <a href="{% url 'comment_delete' comment.pk %}">Delete</a>
            </button>
            {% endif %}
        </li>
        {% empty %}
        <p class="alert alert-info">На жаль, поки що немає жодних коментарів.</p>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
    <a href="{% url 'create_comment' post.pk %}" class="btn btn-secondary mt-3">Create comment</a>
    {% endif %}
</div>

{% endblock %}